<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700">
    <link rel="stylesheet" href="dist/css/main.min.css">
  </head>
  <body>
    <div id="app">
      <section class="ano primer-ano">
        <h2 @click="aprobarAno('1')">Primer año</h2>
        <h3>Anual</h3>
        <div class="anual">
          <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Primer cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Segundo cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
      </section>
      <section class="ano segundo-ano">
        <h2 @click="aprobarAno('2')">Segundo año</h2>
        <h3>Anual</h3>
        <div class="anual">
          <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Primer cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Segundo cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
      </section>
      <section class="ano tercer-ano">
        <h2 @click="aprobarAno('3')">Tercer año</h2>
        <h3>Anual</h3>
        <div class="anual">
          <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('3')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Primer cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Segundo cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
      </section>
      <section class="ano cuarto-ano">
        <h2 @click="aprobarAno('4')">Cuarto año</h2>
        <h3>Anual</h3>
        <div class="anual">
          <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('4')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Primer cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
        <h3>Segundo cuatrimestre</h3>
        <div class="cuatrimestre">
          <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva"></materia>
        </div>
      </section>
      <div class="barra-progreso" :style="'left: -' + (100 - progreso) + '%'">{{ progreso }}%</div>
    </div>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.3.0"></script>
    <script src="dist/js/main.min.js"></script>
  </body>
</html>