<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Plan de Estudio - Ingenería en Sistemas de Información</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700">
    <link rel="stylesheet" href="dist/css/main.min.css">
  </head>
  <body>
    <header class="header"><img class="header__logo" src="./dist/img/logo_utn_cdu.png" alt="Logo UTN Concepción del Uruguay">
      <h1 class="header__titulo"><span>Ingeniería en Sistemas de Información</span><strong>Plan de Estudio</strong></h1>
    </header>
    <section class="informacion">
      <h3 class="informacion__titulo"><span>(+)</span> Cómo usar esta herramienta...</h3>
      <div class="informacion__cuerpo">
        <p class="informacion__parrafo">Pasá el cursor <strong>sobre las materias</strong> (o <strong>hacé <em>tap</em></strong> si estás en tu celular o tablet) para indicar si las <strong class="subrayado aprobada">aprobaste</strong>, están <strong class="subrayado regular">regulares</strong> o <strong class="subrayado desaprobada">desaprobadas</strong>.</p>
        <p class="informacion__parrafo"><strong>Hacé click (o <em>tap</em>) sobre el título del año</strong> para aprobar todas sus materias.  </p>
        <p class="informacion__parrafo">Si no podés cursar alguna materia, <strong>hacéle click (o <em>tap</em>) para ver cuáles son sus requisitos</strong>. </p>
        <p class="informacion__parrafo">A medida que vayas aprobando y regularizando materias, <strong>se habilitarán sus correlativas</strong>.</p>
      </div>
    </section>
    <main id="app">
      <div class="ano ano--primero" :class="{'ano--aprobado': primerAnoAprobado}">
        <h2 class="ano__titulo" @click="aprobarAno('1')">Primer año</h2>
        <h3 class="ano__subtitulo">Anual</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Primer cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Segundo cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
      </div>
      <div class="ano ano--segundo" :class="{'ano--aprobado': segundoAnoAprobado}">
        <h2 class="ano__titulo" @click="aprobarAno('2')">Segundo año</h2>
        <h3 class="ano__subtitulo">Anual</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Primer cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Segundo cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
      </div>
      <div class="ano ano--tercero" :class="{'ano--aprobado': tercerAnoAprobado}">
        <h2 class="ano__titulo" @click="aprobarAno('3')">Tercer año</h2>
        <h3 class="ano__subtitulo">Anual</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('3')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Primer cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Segundo cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
      </div>
      <div class="ano ano--cuarto" :class="{'ano--aprobado': cuartoAnoAprobado}">
        <h2 class="ano__titulo" @click="aprobarAno('4')">Cuarto año</h2>
        <h3 class="ano__subtitulo">Anual</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('4')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Primer cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Segundo cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
      </div>
      <div class="ano ano--quinto ano--ultimo" :class="{'ano--aprobado': quintoAnoAprobado}">
        <h2 class="ano__titulo" @click="aprobarAno('5')">Quinto año</h2>
        <h3 class="ano__subtitulo">Anual</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoAnuales('5')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Primer cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('5', '1')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
        <h3 class="ano__subtitulo">Segundo cuatrimestre</h3>
        <materia v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('5', '2')" :key="m.id" :id="m.id" :nombre="m.nombre" :integradora="m.integradora" :electiva="m.electiva" :analista="m.analista"></materia>
      </div>
      <div class="estadisticas" v-cloak>
        <div class="estadisticas__dato estadisticas__dato--aprobadas">
          <p><strong class="estadistica__rotulo">Aprobadas</strong><span class="estadistica__valor">{{ cantidadMateriasAprobadas }}/{{ cantidadMaterias }}</span></p>
        </div>
        <div class="estadisticas__dato estadisticas__dato--progreso">
          <p><strong class="estadistica__rotulo">Progreso</strong><span class="estadistica__valor">{{ progreso }}%</span></p>
        </div>
        <div class="estadisticas__dato estadisticas__dato--horas-electivas">
          <p><strong class="estadistica__rotulo">Hs. Electivas</strong><span class="estadistica__valor">{{ horasElectivasAprobadas }}/44</span></p>
        </div>
        <div class="estadisticas__barra-progreso">
          <div class="inner" :style="{width: progreso + '%'}"></div>
        </div>
      </div>
      <div class="dependencias" @click="ocultarDependencias"></div>
    </main>
    <footer class="footer">
      <p class="footer__authoring">Hecho con <span>❤</span> por <strong>Valentín Costa</strong></p>
      <p class="footer__version">Plan de Estudio — Versión 1.0.0</p>
    </footer>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.3.0"></script>
    <script src="dist/js/main.min.js"></script>
  </body>
</html>