.search {
  $bar-height: 3rem;
  $border-radius: .5em;
  $color-off: #eee;
  $color-on: #fff;

  display: flex;
  justify-content: space-between;
  border-radius: $border-radius;
  padding: 0 .5em;
  background-color: $color-off;
  overflow: hidden;

  &__field {
    border: 0;
    padding: .7em 0 .7em .7em;
    color: #444;
    height: $bar-height;
    flex: 1;
    background-color: $color-off;
    transition: .5s all;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #777;
    width: $bar-height;
    height: $bar-height;
    transition: transform 1s;

    &--hidden {
      transform: translateX(4em);
    }
  }
}