.header {
  padding: 1rem;
}

.header__logo {
  display: block;
  margin-bottom: 1rem;
  opacity: 0.8;
  width: 5em;

  @media (min-width: $tablet) {
    float: left;
    height: 2.5em;
    width: auto;
    margin-top: 0.35em;
    margin-right: 1em;
  }
}

.header__titulo {
  color: #333;
  margin: 0;

  span {
    color: #444;
    display: block;
    font-size: 0.42em;
    font-weight: normal;
  }

  strong {
    display: block;
    font-size: 1em;
    line-height: 0.9;
  }
}
