.informacion {
  background: lighten(#f7e399, 8%);
  // border-radius: .3em;
  border-top: 1px solid darken(#f7e399, 5%);
  border-bottom: 1px solid darken(#f7e399, 5%);
  margin-bottom: 1rem;
  padding: 1em;
  cursor: pointer;

  .subrayado {
    border-bottom: 2px solid #ccc;
  }

  .aprobada {
    color: $aprobada;
    border-color: $aprobada;
  }

  .regular {
    color: $regular;
    border-color: $regular;
  }

  .desaprobada {
    color: $desaprobada;
    border-color: $desaprobada;
  }
}

.informacion__titulo {
  color: #957a41;
  font-family: monospace;
  font-size: 1em;
  margin: 0;
  // margin-bottom: .5em;

  span {
    color: #777;
  }
}

.informacion__parrafo {
  color: #333;
  // font-family: monospace;
  font-size: .9em;
  margin: 0 0 .8em 0;
  // text-align: justify;

  &:first-child {
    margin-top: .8em;
  }
}

.informacion__cuerpo {
  display: none;
}

.informacion__cuerpo--activo {
  display: block;

  & ~ .informacion__titulo {
    margin: 0;
  }
}