.materia {
  background: $materia;
  border-bottom: 1px solid darken($materia, 7%);
  color: #777;
  cursor: not-allowed;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  transition: all .3s;

  &:last-child {
    border-bottom: 0;
  }

  &:hover > .materia__condicion > .materia__boton {
    transform: translateY(0);
  }
}

.materia--desaprobada {
  box-shadow: 0 0 0 transparent inset;
}

.materia--regular {
  box-shadow: 10px 0 0 $regular inset;
  padding-left: 30px;
}

.materia--aprobada {
  box-shadow: 10px 0 0 $aprobada inset;
  padding-left: 30px;
}

.materia--cursando {
  box-shadow: 10px 0 0 $cursando inset;
  padding-left: 30px;
}

.materia--cursable {
  color: #000;
  cursor: default;

  .materia__boton {
    color: #fff;
    cursor: pointer;
  }

  .materia__boton--desaprobada {
    transition-delay: .15s;
    background: $desaprobada;
    text-shadow: 0 -1px 0 darken($desaprobada, 10%);
  }

  .materia__boton--regular {
    transition-delay: .1s;
    background: $regular;
    text-shadow: 0 -1px 0 darken($regular, 10%);
  }

  .materia__boton--aprobada {
    transition-delay: .05s;
    background: $aprobada;
    text-shadow: 0 -1px 0 darken($aprobada, 10%);
  }

  .materia__boton--cursando {
    background: $cursando;
    text-shadow: 0 -1px 0 darken($cursando, 10%);
  }
}

.materia__detalles {
  display: flex;
}

.materia__descripcion {
  flex: 1;
}

.materia__tipo {
  background: darken($materia, 7%);
  border-radius: 4px;
  display: inline-block;
  font-size: .6em;
  font-style: normal;
  padding: 4px 6px;
  text-transform: uppercase;
  vertical-align: bottom;
}

.materia__horas {
  color: #ccc;
  font-weight: bold;
  display: flex;
  margin: auto;
  padding-left: .3em;
}

.materia__condicion {
  align-items: center;
  display: flex;
  // height: 100%;
  justify-content: flex-end;
  margin-left: -20px;
  position: absolute;
  right: 0;
  bottom: 0;
  // transform: translateX(100%);
  z-index: 1;
}

.materia__radio {
  display: none;

  &:disabled + .materia__boton {
    background: $desaprobada;
    border-left: 1px solid rgba(255, 255, 255, .1);
    color: #aaa;
    text-shadow: 0 -1px 0 darken($desaprobada, 10%);
  }
  
  &:checked + .materia__boton--desaprobada {
    // box-shadow: 0 5px 0 0 darken($desaprobada, 10%) inset;
    // padding-top: 5px;
    border-top: 5px solid darken($desaprobada, 10%);
  }

  &:checked + .materia__boton--regular {
    border-top: 5px solid darken($regular, 10%);
  }

  &:checked + .materia__boton--aprobada {
    border-top: 5px solid darken($aprobada, 10%);
    padding-top: 5px;
  }

  &:checked + .materia__boton--cursando {
    border-top: 5px solid darken($cursando, 10%);
  }
}

.materia__boton {
  background: #fff;
  border-top: 0 solid transparent;
  cursor: not-allowed;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-align: center;
  transition: all .2s ease-in;
  width: 50px;
  transform: translateY(100%);
}

.materia__boton--desaprobada {
  transition-delay: .15s;
}

.materia__boton--regular {
  transition-delay: .1s;
}

.materia__boton--aprobada {
  transition-delay: .05s;
}