.footer {
  padding: 0.9rem;
}

.footer p {
  text-align: center;
}

.footer__authoring {
  color: #555;
  font-size: 0.8em;

  span {
    color: #c0392b;
  }

  a {
    color: #555;
  }

  a:hover {
    border-bottom: 3px solid currentColor;
  }
}

.footer__version {
  color: #999;
  font-size: 0.7em;
  margin: 0;
}
