.materia {
  color: #777;
  padding: 15px 20px;
  background: $materia;
  border-bottom: 1px solid darken($materia, 7%);
  position: relative;
  overflow: hidden;
  transition: all .3s;
  cursor: not-allowed;

  &:last-child {
    border-bottom: 0;
  }

  &.desaprobada {
    box-shadow: 0 0 0 transparent inset;
  }

  &.regular {
    box-shadow: 10px 0 0 $regular inset;
    padding-left: 30px;
  }

  &.aprobada {
    box-shadow: 10px 0 0 $aprobada inset;
    padding-left: 30px;
  }

  .tipo {
    display: inline-block;
    font-size: .6em;
    text-transform: uppercase;
    background: darken($materia, 7%);
    padding: 4px 6px;
    border-radius: 4px;
    vertical-align: bottom;
    font-style: normal;
  }

  .condicion {
    align-items: center;
    // background: rgba(0, 0, 0, .4);
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: -20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease-out;
    transform: translateX(100%);
    // width: 100%;
    z-index: 1;
    // box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
    
    input[type="radio"] {
      display: none;

      &:disabled + label {
        color: #aaa;
        background: $desaprobada;
        text-shadow: 0 -1px 0 darken($desaprobada, 10%);
        border-left: 1px solid rgba(255, 255, 255, .1);
      }
      
      &:checked + label:nth-child(2) {
        border-top: 5px solid darken($desaprobada, 10%);
      }

      &:checked + label:nth-child(4) {
        border-top: 5px solid darken($regular, 10%);
      }

      &:checked + label:nth-child(6) {
        border-top: 5px solid darken($aprobada, 10%);
      }
    }

    label {
      display: block;
      width: 50px;
      height: 100%;
      max-height: 52px;
      background: #fff;
      cursor: not-allowed;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      transition: all .5s;
      border-top: 0 solid transparent;

      // &:nth-child(6) {
      //   border-top-right-radius: 3px;
      //   border-bottom-right-radius: 3px;
      //   margin-right: 15px;
      // }
    }

  }

  &.se-cursa {
    color: #000;
    cursor: default;

    label {
      color: #fff;
      cursor: pointer;

      &:nth-child(2) {
        background: $desaprobada;
        text-shadow: 0 -1px 0 darken($desaprobada, 10%);
      }

      &:nth-child(4) {
        background: $regular;
        text-shadow: 0 -1px 0 darken($regular, 10%);
      }

      &:nth-child(6) {
        background: $aprobada;
        text-shadow: 0 -1px 0 darken($aprobada, 10%);
      }
    }
  }

  &:hover > .condicion {
    // opacity: 1;

    transform: translateX(0);
  }
}