.info-box {
  background: rgba(0, 0, 0, .6);
  height: 5em;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 25px;
  box-sizing: border-box;
  z-index: 2;
}

.info-box h4 {
  font-size: .75em;
  margin: 0;
}

.info-box p {
  font-size: 1.3em;
  margin: 0;
}

.info-box .progreso {
  color: #f9f340;
}

.info-box .horas {
  text-align: right;
  color: #a4f740;
}

.info-box .horas p span {
  color: #ccc;
}