.ano {
  border-left: 5px solid darken(#999, 7%);

}

.ano h2 {
  background-color: #999;
  color: #fff;
  font-size: .7em;
  // letter-spacing: 1px;
  margin: 0;
  padding: 12px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.ano h2:after {
  content: '';
  display: block;
  position: absolute;
  height: 9px;
  width: 15px;
  border-bottom: 4px solid #eee;
  border-left: 4px solid #eee;
  right: 13px;
  top: 13px;
  transform: rotate(-45deg);
  transition: border-color .3s;
}

.ano h3 {
  background: darken($materia, 7%);
  color: #444;
  font-size: .7em;
  font-weight: normal;
  margin: 0;
  padding: 8px 12px;
  text-transform: uppercase;
}

$colores-anos: (primer, $primer),
       (segundo, $segundo),
       (tercer, $tercer),
       (cuarto, $cuarto),
       (quinto, $quinto);

@each $ano, $color in $colores-anos {
  .#{$ano}-ano {
    border-left: 5px solid darken($color, 7%);

    h2 {
      background-color: $color;

      &:after {
        border-color: darken($color, 7%);
      }

      &:active {
        background: darken($color, 7%)
      }
    }
  }
}

.ano.aprobado h2:after {
  border-color: #eee;
}