.footer {
  padding: .9rem;
}

.footer p {
  text-align: center;  
}

.footer__authoring {
  color: #555;
  font-size: .8em;
  margin: 0 0 .5em 0;

  span {
    color: #c0392b;
  }
}

.footer__version {
  color: #999;
  font-size: .7em;
  margin: 0;
}