.grid {
  display: flex;
  flex-wrap: wrap;
  margin: .5em;
  
  & > &__item {
    width: calc(50% - 1em);
    margin: .5em;

    @media screen and (min-width: 28em) {
      width: calc(33.33333% - 1em);
    }
  }
}