$fondo:       #eee;
$materia:     darken($fondo, 5%);
$progreso:    darken(#27ae60, 5%);
$primer:      #2980b9;
$segundo:     #9b59b6;
$tercer:      #d35400;
$cuarto:      #27ae60;
$quinto:      #2c3e50;
$desaprobada: #999;
$regular:     #f39c12;
$aprobada:    #27ae60;