$body:        #eee;
$materia:     darken($body, 5%);
$progreso:    darken(#27ae60, 5%);
$desaprobada: #999;
$regular:     #f39c12;
$aprobada:    #27ae60;
$anos: (primero, #2980b9),
       (segundo, #9b59b6),
       (tercero, #d35400),
       (cuarto,  #2c3e50),
       (quinto,  #c0392b);