$body:        #eee;
$materia:     darken($body, 5%);
$progreso:    darken(#27ae60, 5%);
$desaprobada: #999;
$regular:     #f39c12;
$aprobada:    #27ae60;
$cursando:    #2980b9;
$anos: (primero, #436A57),
       (segundo, #2c3e50),
       (tercero, #63393E),
       (cuarto,  #a33024),
       (quinto,  #667727);