@import 'settings.fonts';
@import 'settings.colors';
@import 'settings.sizes';

@import 'generic.normalize';
@import 'generic.box-sizing';

@import 'elements.pages';
@import 'elements.links';
@import 'elements.selection-colors';
@import 'elements.images';
@import 'elements.fields';

@import 'components.app';
@import 'components.header';
@import 'components.informacion';
@import 'components.anos';
@import 'components.materias';
@import 'components.estadisticas';
@import 'components.dependencias';
@import 'components.footer';
@import 'components.feedback';
